html {
  overscroll-behavior-y: none;
}

nav {
  width: 100%;
  height: auto;
  background: #1f1f1f;
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
}

nav a, nav a:link, nav a:active, nav a:visited {
  color: #f3f3f3;
  font: normal 20px times;
  float: right;
  padding: 20px;
  text-decoration: none;
}

.logo {
  width: 500px;
  height: 200px;
  padding: 20px;
}

#searchbar {
  color: #1f1f1f;
  font: normal 20px times;
  float: right;
  width: 200px;
  padding: 5px;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  margin: 15px;
}


nav #cart {
  width: auto;
  height: 30px;
  float: right;
  padding: 20px;
}

body { 
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: #f3f3f3;
}

header {
  width: auto;
  height: 350px;
  background: #909090;
  background-image: src="/images/Screen Shot 2024-08-08 at 9.41.41 PM.png";
  text-align: center;
}

header h1 {
  color: #f3f3f3;
  font: bold 60px times;
  position: relative;
  display: inline-block;
  margin-top: 200px;
}

main {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

footer {
  width: auto;
  height: 100px;
  background: #1f1f1f;
  position: relative;
  bottom: 0px;
  left: 0px;
}

footer p, footer a:link, footer a:active, footer a:visited {
  color: #f3f3f3;
  font: normal 16px times;
  text-decoration: none;
  padding: 20px;

}

footer a:link, footer a:active, footer a:visited {
  float: right;
  padding-top: 0px;
}

h1 {
  color: #1f1f1f;
  font: normal 30px times;
  position: relative;
  display: inline-block;
}

h2 {
  color: #1f1f1f;
  font: bold 35px times;
  position: relative;
}

h3 {
  color: #1f1f1f;
  font: bold 35px times;
  position: relative;
}

#product-c {
  position: relative;
  width: auto;
  height: auto;
  min-height: 200px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;}

#product-c-img {
  width: 100%;
  max-width: 25%;
  height: auto;
  margin: none;
  min-height: 200px;
  background: #909090;
  display: block;
  display: inline-block;
  float: left;
  text-align: center;
}

#product-c-text {
  width: 100%;
  max-width: 25%;
  height: 200px;
  margin: none;
  background: #90909000;
  display: block;
  display: inline-block;
  float: left;
  text-align: center;
}

#product-c-text p {
  color: #1f1f1f;
  font: normal 18px helvetica;
}

#product-c-desc {
  width: auto;
  max-width: 50%;
  height: auto;
  margin: none;
  background: #90909000;
  display: block;
  float: left;
  text-align: left;
  padding: 50px;
}

#product-c-desc p {
  color: #1f1f1f;
  font: normal 18px helvetica;
}

#product-g {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 200px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#product-g-desc {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: none;
  background: #90909000;
  display: block;
  float: left;
  text-align: left;
  padding: 50px;
}

#product-g-text {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: none;
  background: #ffffff;
  display: block;
  display: inline-block;
  float: left;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

#product-g-frame {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: none;
  background: #ffffff00;
  display: block;
  display: inline-block;
  float: left;
  text-align: left;
  padding: 40px;
  margin: 0px;
  border-radius: 10px;
}

#product-g-frame .button {
    width: 100%;
    background: #ffde67;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font: bold 25px times;
    transition-duration: .4s;
}
#product-g-frame .button:active {
    width: 100%;
    background: #ffde67;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font: bold 25px times;
    transition-duration: .4s;
}
#product-g-frame .button:hover {
    width: 100%;
    background: #ffd747;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font: bold 25px times;
    transition-duration: .4s;
}


#product-g-text-pic {
    background-image: src="/images/farm-pedals-the-screams-analog-octave-up_6_800x.jpg";
    background: #000000; 
    width: 100%;
    height: 350px;
    min-height: 200px;
    float: center;
}

@media (max-width: 768px) {
    #product-g-text {
        width: 100%;
        max-width: 85%;
        height: auto;
        margin: none;
         background: #ffffff;
         display: block;
         display: inline-block;
         float: left;
         text-align: center;
         padding: 20px;
         margin: 20px;
         border-radius: 10px;
    }
}
